<section class="grid-section">
  <form class="form" action="/admin/categorias/nova" method="post">
    <h1>Adicionar categorias</h1>
      <label for="nome">nome</label>
      <input type="text" name="nome" />
      <label for="slug">slug</label>
      <input type="text" name="slug" />
    <button>Adicionar Categoria</button>
  </form>
</section>