 {{!-- <footer>
        <section class="grid-section">

            <section class="section-footer">
                <span>@ 2025 - Salimo Carvalho</span>
                <span>Powered by <img src="./image/logo.svg" alt="" width="20px"></span>
            </section>
        </section>
    </footer> --}}