<header class="grid-section">
        <section class="headers-menu">
            <h1><a href="/">Meu Blog</a></h1>
            <nav>
                <ul class="menu">
                    <li><a href="/">Início</a></li>
                    
                    {{#if user}}
                        <span>{{username}}</span>
                    {{else}}
                    <li><a href="/usuario/registo">Registo</a></li>
                    <li><a href="/usuario/login">Login</a></li>
                    {{/if}}
                    <span class="usuarioLogado">{{user.username}}</span>
                </ul>
            </nav>
        </section>
    </header>