footer{
    background: var(--dark-30);

}

.section-footer{
    display: flex;
    justify-content: space-between;
}

.section-footer span:last-child{
    display: flex;
    gap: 10px;
}