.section-services{
    
}

.services{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    /* max-width: 100%; */
}

.services-item{
    width: 100%;
    border-bottom:2px solid transparent ;
}

.services-item:hover{
    border-bottom: 2px solid var(--brand-color);
    transition: all  1s ease-in;
}
.services section{
    background: var(--dark-30);
    padding: 20px 30px;
    display: grid;
    gap: 20px;
}
.services section h5{
   font-size: 20px;
   max-width: 10ch;
   font-weight: 300;
}

@media (max-width:800px) {
    .services{
  flex-wrap: wrap;
}
}