@import url(./reset.css);
@import url(./header.css);
@import url(./section-hero.css);
@import url(./sobremim.css);
@import url(./projects.css);
@import url(./services.css);
@import url(./section-ability.css);
@import url(./categorias.css);
@import url(./footer.css);